@media (max-width: 575.98px) { 
    .video{
        width: auto;
        height: 100%;
        background-color: rgba(0,0,0,.4);
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 0;
    }
    #video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        z-index: 1;
    }
    .caixa-cabeçaho{
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        text-transform: uppercase;
        color:white;
    }
    div#social {
        width: auto;
        align-items: center;
        padding-top: 1em;
        padding-bottom: 1em;
    }
 @media (max-width: 1199.98px){ 
    .video{
        width: auto;
        height: 100%;
        background-color: rgba(0,0,0,.4);
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 0;
    }
    #video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        z-index: 1;
    }
    .caixa-cabeçaho{
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        text-transform: uppercase;
        color:white;
    }
    .responsive-img
{
    width: 100%;
}

div#social {
    width: auto;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 5rem;
}
 }

}